body {
    font-family: Arial, sans-serif;
    background-color: #87A922;
    color: #114232;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #F7F6BB;
    border-radius: 8px;
    padding: 30px 25px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #114232;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #114232;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    padding: 12px;
    border: 1px solid #FCDC2A;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .show-password-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  button {
    background-color: #114232;
    color: #F7F6BB;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #87A922;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #114232;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #message {
    color: #FCDC2A;
    text-align: center;
    margin-top: 20px;
  }
  